<div class="comment card m-3 p-2 ">
    <div class="card-body position-relative">
        <div class="d-flex justify-content-between align-items-start">
            <h5 class="card-title mb-1">{{commenter.username}}</h5>
            <small class="text-muted">{{format_date post_date}} at {{format_time post_date}}</small>
        </div>
        <div class="d-flex justify-content-between align-items-end" style="height: 47px;">
            <p class="cared-text mb-0">{{text_content}}</p>
            {{#if isCommenter}}
            <div class="btn-group mt-3" role="group" aria-label="Comment Actions">
                <button class="btn btn-sm btn-outline-primary me-2 update-comment"
                    data-comment-id="{{id}}">Update</button>
                <button class="btn btn-sm btn-outline-danger delete-comment" data-comment-id="{{id}}">Delete</button>
            </div>
            {{/if}}
        </div>
    </div>
</div>

{{!-- <script src="/js/blog-comment.js"></script> --}}