<div class="card m-3 p-3 shadow">

  {{! Blog page body }}
  <div class="card-body">
    <h3 class="card-title">{{blog.title}}</h3>
    <div class="card-text">
      
      <p class="d-block d-md-inline mb-2 mb-md-0 text-muted">{{format_date blog.post_date}} at {{format_time blog.post_date}}</p>
      <p>Author: {{blog.author.username}}</p>
      <p>{{blog.content}}</p>
    </div>

    {{! update & delete buttons }}
    {{#if isAuthor}}
      <div class="mt-5 mt-md-5">
        <a href="/blog-update/{{blog.id}}" class="btn btn-primary">Update Post</a>
        <button
          id="delete-post-btn"
          class="btn btn-danger"
          data-id="{{blog.id}}"
        >Delete Post</button>
      </div>
    {{/if}}
  </div>

  {{! Comments section }}
  <div class="p-3">
    <h4 class="">Comments:</h4>
    <button
      type="button"
      class="btn btn-primary col-md-3 col-lg-2"
      data-bs-toggle="modal"
      data-bs-target="#new-comment-modal"
    >Add comment</button>
  </div>
  {{#each blog.comments}}
    {{> comment-cards}}
  {{/each}}

</div>

{{! Post comment modal }}
<div class="modal" id="new-comment-modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title">Add Comment</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <div class="modal-body">
        <div class="container-flex">
          <form id="comment-form">
            <textarea
              name="new-comment-textarea"
              id="new-comment-textarea"
              class="w-100"
            ></textarea>
          </form>
        </div>
      </div>

      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
        >Close</button>
        <button type="button" id="save-comment-btn" class="btn btn-primary">Save
          changes</button>
      </div>

    </div>
  </div>
</div>

{{! scripts }}
<script src="/js/blog-comment.js"></script>
<script src="../../js/blog-delete.js"></script>
