<div class="card m-3 p-3 shadow">
    <div class="card-body">
        <h3 class="card-title">{{blog.title}}</h3>
        <div class="card-text">
            <p>{{format_date blog.post_date}} at {{format_time blog.post_date}}</p>
            <p>Author: {{blog.author.username}}</p>
            <p>{{blog.content}}</p>
        </div>
        {{#if isAuthor}}
        <a href="/blog-update/{{blog.id}}" class="btn btn-primary">Update Post</a>
        <button id="delete-post-btn" class="btn btn-danger" data-id="{{blog.id}}">Delete Post</button>
        <script src="../../js/blog-delete.js"></script>
        {{/if}}
    </div>
</div>

<h4 class="m-3">Comments:</h4>
{{!-- {{#each comments as |comment|}}
{{> comment-cards}}
{{/each}} --}}

{{#each blog.comments}}
<div class="comment card m-3 p-2">
    <p><strong>{{commenter.username}}</strong></p>
    <p>{{text_content}}</p>
</div>
{{/each}}