<div class="card m-3 p-3 shadow">
    <div class="card-body">
        <h3 class="card-title">{{blog.title}}</h3>
        <div class="card-text">
            <p>{{format_date blog.post_date}}</p>
            <p>Author: {{blog.author.username}}</p>
            <p>{{blog.content}}</p>
        </div>
        <a href="/blog-update/{{blog.id}}" class="btn btn-primary">Update Post</a>
        <button id="delete-post-btn" class="btn btn-danger" data-id="{{blog.id}}">Delete Post</button>
    </div>
</div>

<script src="../../js/blog-delete.js"></script>